/*header part */
.header{
    background: rgba(229, 84, 115, 0.10);
    width: 1530px;
    height: 450px;
    display: flex;
    background-size: cover;
   
}
.container{
    padding-left: 250px;
    padding-top: 20px;

}

.header-title{
    color: #272727;
    font-family: Lato;
    font-size: 45px;
    font-weight: 800;
    
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
   

}
.btn-primary{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border-color:  #E55473;
    padding: 10px;
    margin-top: 20px;
    border-style: none;
}

.header-image{
    width: 300px;
    height: 420px;
}
.images{
    margin-top: 30px;
    margin-left: 350px;
}
/*main part start*/
.start{
    width: 1500px;
    
}
.section-one{
    text-align: center;
    padding: 50px;
}

.our{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

.radient-one{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 290px;
    height: 340px;
}
.radient-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 290px;
    height: 340px;
}
.radient-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 290px;
    height: 340px
}

.bonus-point{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 290px;
    margin-right: 290px;
}
.image-gap{
    width: 240px;
    height: 280px;
    padding-top: 60px;
    padding-left: 30px;
}
.hyper{
    color: #272727;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    padding-left: 80px;
    
}
/*section two start*/

.section-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 150px;
    margin-left: 290px;
    width: 925px;
    height: 200px;

}
.free-support{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}
.group-one{
    padding-left: 80px;
}
.group-two{
    padding-left: 50px;
}

/*section three start*/
.section-three{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1530px;
    height: 450px;
    display: flex;
}
.pngwing{
    width: 270px;
    height: 320px;
    margin-top: 80px;
    padding-left: 220px;
}
.hyper-two{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
   
}
.flat-offer{
    text-align: center;
    margin-top: 150px;
    margin-left: 300px;
}
/*section four*/

.image-four{
    margin: 150px;
    margin-left: 290px;
    width: 925px;
    height: 200px;
    margin-top: 40px;
}
.instagram{
    text-align: center;
    margin-top: 80px;
    width: 1530px;
   


}
.picture{
    width:210px;
    height: 250px;
    padding: 2px;
    margin-left: 10px;
    
}
/*section five start*/
.section-five{
    margin: 150px;
    margin-left: 290px;
    width: 900px;
    height: 320px;
    margin-top: 40px;
    background-image: url(Rectangle.png);
    background-size: cover;
}
.coupon{
    text-align: center;
    padding-top: 20px;
    
}
.last-part{
    margin-left: 200px;
    margin-top: 30px;
}
.enter-value{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 10px;
    border-style: none;
    padding-top:6px ;
}

.footer-part{
    background: #111010;
    width: 1530px;
    height: 300px;
    text-align: center;
    padding-top: 40px;

}
.flower-tag{
    color: #E55473;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
    
}
.span{
    color: #FFFFFF;
}
.long-part{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

}